img{
  width: 100%;
  margin-bottom: 2vw;
  height: auto;
}

mat-card-title{
  font-size: 4vw;
  margin-bottom: 2vw;
}
mat-card-subtitle{
  font-size: 2vw;
  margin-bottom: 2vw;
}

mat-card.card1{
  margin-top: 1vw;
  color: black;
  text-align: center;
  left: 10%;
  width: 60%;
  height: auto;
}


