<mat-card>
  <mat-card-content>
    <mat-card-title>
      UNAL y Misión TIC 2022
    </mat-card-title>
    <mat-card-subtitle>
      Vista de votaciones
    </mat-card-subtitle>
  </mat-card-content>
  <table>
    <tr>
      <!--Boton mesas-->
      <td>
        <button mat-raised-button color="primary">Mesas</button>
      </td>
      <!--Boton Partidos-->
      <td>
        <button mat-raised-button color="accent">Partidos</button>
      </td>
      <!--Boton candidatos-->
      <td>
        <button mat-raised-button color="warn">Candidatos</button>
      </td>
      <!--Boton resultados-->
      <td>
        <button mat-raised-button color="warn">Resultados</button>
      </td>
    </tr>
  </table>
</mat-card>
