
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Seudonimo</mat-label>
        <h2>Seudónimo</h2>
        <input matInput placeholder="Ingrese su alias"
        type="text" [(ngModel)]="seudonimo">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <h2>Correo</h2>
        <input matInput placeholder="Ingrese su correo"
        type="email" [(ngModel)]="correo">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <h2>Contraseña</h2>
        <input matInput placeholder="Ingrese su contraseña"
        type="password" [(ngModel)]="contrasena">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>

    <table>
      <tr>
        <td>
          <button mat-raised-button color="primary"
          (click)="btnIngresar()">Ingresar</button>

        </td>
        <td>
          <button mat-raised-button color="accent">Registro</button>
        </td>
      </tr>
    </table>
