<app-my-head></app-my-head>

<mat-card class="card2">

  <mat-card-title *ngIf="modoCreacion">
    CREAR PARTIDO
  </mat-card-title>
  <mat-card-title *ngIf="!modoCreacion">
    ACTUALIZAR PARTIDO
  </mat-card-title>

      <label>Nombre del partido</label>
      <input *ngIf="modoCreacion" class="form-control" type="text"
       [(ngModel)]="elPartido.nombre" placeholder="Ingrese el nombre del partido" required="true">
      <p *ngIf="intentoEnvio && elPartido.nombre==''">Requerido</p>

      <input *ngIf="!modoCreacion" class="form-control" type="text"
      [(ngModel)]="elPartido.nombre" disabled="">
  <br>
      <label>Lema del partido</label>
      <input class="form-control" type="text"
      [(ngModel)]="elPartido.lema" placeholder="Ingrese el lema del partido" required="true">
      <p *ngIf="intentoEnvio && elPartido.lema==''">Requerido</p>
  <br>

    <button *ngIf="modoCreacion" mat-raised-button color="primary" (click)="agregarPartido()">
      Crear
    </button>
    <button *ngIf="!modoCreacion" mat-raised-button color="primary" (click)="editarPartido()">
      Actualizar
    </button>
    <button  mat-raised-button color="warn" (click)="cancelar()">
      Cancelar
    </button>

</mat-card>
