button{
  margin: 1vw;
  left: 2%;
  font-size: 3vw;
  height: 70%;
}
button.btnMesas{
  background-color: rgb(164, 151, 133);
  color: black;
}
button.btnCandidatos{
  background-color: rgb(231, 152, 50);
  color: black;
}
button.btnPartidos{
  background-color: rgb(224, 169, 97);
  color: black;
}
img{
  width: 50vw;
  margin-bottom: 2vw;
}

mat-card-title{
  font-size: 4vw;
  margin-bottom: 2vw;
}
mat-card-subtitle{
  font-size: 2vw;
  margin-bottom: 2vw;
}
