img{
  width: 100%;
  margin-bottom: 2vw;
  height: auto;
}

mat-card-title{
  font-size: 4vw;
  margin-bottom: 2vw;
}
mat-card-subtitle{
  font-size: 2vw;
  margin-bottom: 2vw;
}

mat-card.card2{
  margin-top: 1vw;
  background-color: rgb(229, 194, 147);
  color: black;
  text-align: center;
  left: 10%;
  width: 60%;
}
table{
  width: 60vw;
  font-size: 83%;
}
button{
  width: 20%;
  font-size: 83%;
  margin: 1vw;
}

