<mat-card class="example-card">
  <!--Primer cabecera-->
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>UNAL y Misión TIC 2022</mat-card-title>
    <mat-card-subtitle>@ByDiegoParra</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F1.bp.blogspot.com%2F-DuwzLNx9FEY%2FYBMrY9SepFI%2FAAAAAAAAz88%2FV0eKlc8KaQwufpkTP2njjT_rY4UExZzLQCLcBGAsYHQ%2Fs2048%2Fmision%252Btic.jpg&f=1&nofb=1&ipt=a42c21ae327cc6a4503823d35b9840b9ec92b702e2baa5ab64199543e2c9dfe9&ipo=images" alt="Photo of a Shiba Inu">

  <mat-card-content>
    <p>
     Cordial saludo tripulantes misión tic 2022, está es la última sesión del ciclo de programación orientada a servicios web, donde se muestra el proyecto realizado en el ciclo 4.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
