.example-card {
  max-width: 80%;
}

.example-header-image {
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Qx1H6Z9kiGYiUcuw6PTQNgHaHa%26pid%3DApi&f=1&ipt=18637250786858d37f0679b86d75a8eb25b45ea399f5ef6ab052147ceb6faee9&ipo=images');
  background-size: cover;
}

mat-card{
  left:5%
}
