<app-my-head></app-my-head>

<mat-card class="card2">

  <mat-card-title *ngIf="modoCreacion">
    CREAR ESTUDIANTE
  </mat-card-title>
  <mat-card-title *ngIf="!modoCreacion">
    ACTUALIZAR ESTUDIANTE
  </mat-card-title>

      <label>Número de mesa</label>
      <input *ngIf="modoCreacion" class="form-control" type="text"
       [(ngModel)]="laMesa.numero" placeholder="Ingrese el número de mesa" required="true">
      <p *ngIf="intentoEnvio && laMesa.numero==''">Requerido</p>

      <input *ngIf="!modoCreacion" class="form-control" type="text"
      [(ngModel)]="laMesa.numero" disabled="">
  <br>
      <label>Cantidad de inscritos</label>
      <input class="form-control" type="text"
      [(ngModel)]="laMesa.cantidad_inscritos" placeholder="Ingrese cantidad de inscritos" required="true">
      <p *ngIf="intentoEnvio && laMesa.cantidad_inscritos==''">Requerido</p>
  <br>

    <button *ngIf="modoCreacion" mat-raised-button color="primary" (click)="agregrarMesa()">
      Crear
    </button>
    <button *ngIf="!modoCreacion" mat-raised-button color="primary" (click)="editarMesa()">
      Actualizar
    </button>
    <button  mat-raised-button color="warn" (click)="cancelar()">
      Cancelar
    </button>

</mat-card>
