
mat-card-title{
  font-size: 4vw;
  margin-bottom: 2vw;
}
mat-card-subtitle{
  font-size: 2vw;
  margin-bottom: 2vw;
}

mat-card.card2{
  margin-top: 1vw;
  background-color: rgb(229, 194, 147);
  color: black;
  text-align: center;
  left: 10%;
  width: 60%;
}

input{
  margin: 1vw;
}
label{
  font-weight: bolder;
  margin-left: 2vw;
}

button{
  font-size: 90%;
  margin-left: 2vw;
}
