<mat-toolbar>



  <!--Boton del menu-->
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>

  </button>
  <!--Llama el menu-->
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="btnIngresar()">Ingresar</button>
    <button mat-menu-item>Salir</button>
  </mat-menu>


  <span>Proyecto ciclo 4a</span>

  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
