<app-my-head></app-my-head>

<mat-card class="card2">
  <mat-card-content>
    <mat-card-title>Partidos</mat-card-title>
    <table>
      <tr>
        <th *ngFor="let head of tableHead">
           {{head}}
          </th>
          <th>
            <button mat-raised-button color="primary" (click)="regresar()">Regresar</button>
            <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>

          </th>
      </tr>

      <tr *ngFor="let partido of partidos">
        <td>{{partido.nombre}}</td>
        <td>{{partido.lema}}</td>
        <button mat-raised-button color="accent" (click)="editar(partido._id)">Editar</button>
        <button mat-raised-button color="warn" (click)="eliminar(partido._id)">Borrar</button>
      </tr>
    </table>

  </mat-card-content>


</mat-card>
