img{
  width: 40vw;
}
mat-form-field.fill1{
  width: 50%;
  font-size: 4vw;
  top: -3vw;
  left: 1%;
}

input{
  width: 48vw;
}
mat-card{
  width: 50%;
  left: 24vw;
  background-color:antiquewhite;
}
mat-card-title{
  color: black;
  font-size: 3vw;
}
mat-card-subtitle{
  color: rgb(76, 71, 71);
  font-size: 2.2vw;
}
button{
  width: 100%;
  align-items: stretch;
}
table{
  width: 40vw;
  margin-left: 3vw;
  margin-bottom: -10vw;
}

